/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/


:root {
    --font: 'Roboto', sans-serif;
    /*--font: 'Noto Sans', sans-serif;*/
    --black: #333333;
    /* --white: #FFFAFA; */
    --white: white;
    --color2: #2C5682;
    --color2-dark: #25486D;
    --color2-light: #396EA6;
    --color4-light: #EA6570;
    --color4: #e74f5d;
    --color4-dark: #D45863;
    /*--color5: #FDC3BE;
    --color6: #FFE494;*/
    --color-secondary: #888888;
    --color-secondary-dark: #6e6e6e;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: var(--font);
    font-size: 14px;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
label{
    display: inline !important;
}
.swal2-checkbox input[type=checkbox]{
    display: none !important;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select,
button,
a:focus,
.btn:focus,
.btn-primary:focus,
.btn-outline-primary:focus,
input[type=file]:focus,
textarea:focus,
input[type=checkbox]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=submit]:focus,
input[type=button]:focus,
.form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.bg-primary-light{
    background-color: var(--color2-light);
}

.bg-primary-dark{
    background-color: var(--color2-dark);
}

.bg-primary{
    background-color: var(--color2) !important;
}

.text-primary{
    color: var(--color2) !important;
}

.bg-custom-secondary{
    background-color: #f5f5f5;
}

.bg-blue{
    /* background-color: #e0f3f7; */
    background-color: #cee5f6;
}
.bg-green {
    background-color: #ecfff2;
    border: 1px solid #73c088;
}

.rounded-sm {
    border-radius: var(--bs-border-radius-sm) !important;
}

/* For topnav */
.topNav{
    padding-top: 10px;
    height: 60px;
    background-color: var(--white);
    border-bottom: 1px solid lightgray;
    /* -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.09); */
}

.hamburger-bg{
    width: 38px;
    height: 40px;
    background-color: var(--color2);
    transition: all 0.2s;
}

.hamburger-bg:hover{
    transition: 0.2s ease-in-out;
    background-color: var(--color2-dark);
}

.hamburger-menu {
    height: 30px;
    width: 25px;
    cursor: pointer;
    z-index: 1000;
    align-items: center;
    position: absolute;
    display: inline-block;
    right: 1.85rem;
    top: 1.8rem;
    transition: 0.5s;
}

.menu{
    /* margin-top: -18px;
    margin-left: 2.2rem; */
    color: var(--black);
    font-weight: 300;
}

.hamburger, .hamburger::before, .hamburger::after {
    width: 25px;
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--white);
    transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    right: 0;
}

.hamburger::before {
    top: -0.55rem;
}

.hamburger::after {
    bottom: 1.1rem;
}
.hamburger-menu.responsive .hamburger {
    background-color: transparent;
    transition: 0.5s;
}

.hamburger-menu.responsive .hamburger::before {
    transform-origin: center right;
    transform: rotate(-45deg);
    right: 5px;
    transition: 0.5s;
}

.hamburger-menu.responsive .hamburger::after {
    transform-origin: center right;
    transform: rotate(45deg);
    right: 5px;
    transition: 0.5s;
}
/* End of topbar */

/* Dropdown Menu */
.menu-item{
    width: 300px;
    position: absolute;
    right: 1.5rem;
    top: 3rem;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.menu-item .items i, .menu-item .items span{
    color: var(--bs-secondary);
    transition: all 0.2s;
}

.menu-item .items:hover i{
    /* background: -webkit-linear-gradient(var(--color2-light), var(--color2), var(--color2-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--color2);
    transition: 0.2s ease-in-out;
}

.menu-item .items:hover span{
    color: var(--color2-dark);
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.user{
    letter-spacing: 1.5px;
}
.user span{
    font-size: 15px;
    font-weight: 300;
}

.userOpt{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* For Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    -webkit-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.09);
    box-shadow: 5px 0px 6px 0px rgba(0,0,0,0.09);
}
.logo{
    width: 100px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.sidenav.responsive{
    width: 250px;
}
.sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    display: block;
}

.item {
    position: relative;
    cursor: pointer;
}

    .item a {
        color: var(--black);
        font-size: 12px;
        text-decoration: none;
        display: block;
        padding: 4px 15px;
    }
.sub-btn {
    font-weight: 600;
}

        .item a:hover {
            background: var(--color2);
            color: var(--white);
            transition: 0.3s ease;
        }

    .item i {
        margin-right: 4px;
    }

    .item a .dropdown1 {
        position: absolute;
        right: 0;
        margin: 4px 20px;
        transition: 0.3s ease;
    }

    .item .sub-menu {
        background: transparent;
        display: none;
        font-size: 12px;
    }

        .item .sub-menu a{
            padding-left: 40px;
        }

.rotate {
    transform: rotate(90deg);
}

/* End of sidenav */
/* for main content */
#main {
    transition: margin-left .5s;
    position: relative;
}
#main.responsive {
    margin-left: 250px;
}
.overlay{
    display: none;
}

/* Create New */
.create-new div, .dashboard-icon{
    transition: all 0.3s;
    background-color: rgb(250, 250, 250);
}
.create-new div:hover{
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    -moz-box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    cursor: pointer;
}
.create-new div:hover .dashboard-icon{
    transition: 0.3s ease-in-out;
    color: var(--color2) !important;
}

/* Recent */
.card, .card-title{
    transition: all 0.3s;
}

.card:hover{
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    -moz-box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    box-shadow: 0px 3px 4px 0px rgba(116, 116, 116, 0.2);
    /* cursor: pointer; */
}
.card:hover .card-title{
    transition: 0.3s ease-in-out;
    color: var(--color2);
}

/* .card i{
    color: var(--color2);
} */

/* .card img{
    height: 100px;
    width: 100px;
    display: block;
} */

/*.custom-table table {
    border-collapse: collapse !important;
    padding: 0 !important;
}

.custom-table-body tr td {*/
    /* width:25%; */
    /*display: table-cell !important;
    vertical-align: top !important;
    height: 30px !important;
}

.custom-table td div {*/
    /* background:green; */
    /*height: 100% !important;
}*/

.SurveyTable tr td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    vertical-align: middle;
    /* margin: 20px 0px; */
}

    .SurveyTable tr td:first-child {
        border-left: 1px solid #dee2e6;
        border-radius: 5px 0px 0px 5px;
    }

    .SurveyTable tr td:last-child {
        border-right: 1px solid #dee2e6;
        border-radius: 0px 5px 5px 0px;
    }

.SurveyTable-table {
    border-collapse: separate !important;
    border-spacing: 0 15px !important;
}
.paginate_button:hover{
    background:none !important;
    background-color: var(--color2) !important;
    border: 1px solid var(--color2) !important;
}
.paginate_button.disabled:hover {
    background-color: none !important;
    border: 1px solid transparent !important;
    background: transparent !important;
}
.paginate_button.current:hover {
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(230, 230, 230, 0.1) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1))) !important;
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
}
.surveyBtn {
    border: 1px solid #2c568285;
    /*background-color: var(--color2);*/
    transition: all 0.2s;
}
.surveyBtn:hover{
    border: 1px solid var(--color2);
    background-color: var(--color2);
    color: var(--white) !important;
}
    .surveyBtn.publish {
        border: 1px solid var(--color2);
        background-color: var(--color2);
        color: var(--white) !important;
        /*background-color: var(--color2);*/
        transition: all 0.2s;
    }
        .surveyBtn.publish:hover {
            border: 1px solid #2c568285 !important;
            background-color: transparent !important;
            color: var(--color2) !important;
        }

    .surveyBtn.published {
        /*border: 1px solid var(--bs-teal);
        color: var(--bs-success);*/
        border: 1px solid var(--color-secondary);
        background-color: var(--color-secondary);
        color: var(--white) !important;
        transition: all 0.2s;
    }
        .surveyBtn.published:hover {
            border: 1px solid var(--color-secondary);
            color: var(--color-secondary-dark) !important;
            background-color: transparent;
        }

/* Form Field */
.form-control, .form-select {
    padding-bottom: 5px !important;
    padding-left: 3px !important;
    padding-right: 0px !important;
    border: 1.5px solid lightgrey !important;
    /*border-bottom: 1.5px solid lightgrey !important;
    border-radius: 0px !important;*/
    font-size: 13px;
    transition: all 0.2s;
}

.form-check{
    min-height: 0px !important;
}

.form-check-input{
    width: 1.37em !important;
    height: 1.3em !important;
}

.form-check-input:checked {
    background-color: var(--color2) !important;
    border-color: var(--color2-dark) !important;
}

.form-check-input:focus {
    border-color: var(--color2-light) !important;
}
    .form-control:focus, .form-select:focus {
    border: 1.5px solid var(--color2-light) !important;
    transition: 0.2s linear;
    transform-origin: center center;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select,
input[type=file]:focus,
textarea:focus,
input[type=checkbox]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=button]:focus{
    outline: none !important;
    box-shadow: none !important;
}

.form-title{
    font-size: 30px;
    font-weight: 400;
}

.form-control::placeholder{
    /* color: var(--black); */
    color: #757575;
}

textarea {
    resize: none;
}

/* Input Type File */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
}

/* .input-type{
    display: none;
} */

/* Form Image */

.question-img{
    height: 300px;
    width: 100%;
}

.question-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Icons */
.fa-xmark{
    font-size: 22px;
    color: var(--color3);
    cursor: pointer;
    transition: all 0.2s;
}

.fa-xmark:hover{
    transition: ease-in-out 0.2s;
    color: var(--color4);
}

.buttons{
    display: block;
    padding: 12px 8px;
    /* border-radius: 30px; */
    /* border: 1px solid red; */
    width: min-content;
    position: fixed;
    /* top: 130px; */
    right: 30px;
    z-index: 99;
}

.buttons i{
    font-size: 20px;
    padding: 9px;
    border-radius: 4px;
    transition: all 0.2s;
}

.buttons i:hover{
    transition: 0.2s ease-in-out;
    background-color: var(--color2);
    color: var(--white);
    cursor: pointer;
}

/* Survey Creation Card */
/* .surveyCard{
    min-height: 250px;
    overflow-y: auto;
} */

.surveyCard .card-body{
    height: 200px;
    overflow-y: auto;
}

.bg-custom-light{
    background-color: #fdfdfd;
}

.card-icon {
    position: relative;
    /* border-radius: 50%; */
    /* width: 50px;
    height: 50px; */
    border: 1px solid transparent;
    font-size: 14px;
    /*font-weight: 300;*/
}

.option-icon{
    width: 30px;
    height: 30px;
    background-color: var(--color2);
    color: var(--white);
    transition: all 0.2s;
}

.option-icon:hover{
    /* background-color: var(--bs-light); */
    background-color: var(--color2-dark);
    transition: 0.2s ease-in-out;
}

.card:hover .card-icon.bg-primary-light, tr:hover .card-icon.bg-blue {
    border: 1px solid var(--color2);
    transition: 0.2s ease-in-out;
}

.card:hover .card-icon.bg-custom-secondary, tr:hover .card-icon.bg-custom-secondary {
    border: 1px solid var(--bs-secondary);
    transition: 0.2s ease-in-out;
}

.card:hover .card-icon.bg-blue, tr:hover .card-icon.bg-blue {
    /* border: 1px solid #7fc6d7; */
    border: 1px solid #007cd7;
    transition: 0.2s ease-in-out;
}


.dropdown-menu{
    font-size: 14px;
}

.surveyTitle{
    font-weight: 500;
    color: var(--black);
}

.addIcon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    cursor: pointer;
    background-color: var(--color2);
    z-index: 99;
    transition: all 0.2s;
}

.addIcon:hover{
    transition: 0.3s ease-in-out;
    background-color: var(--color2-dark);
    /* width: 57px;
    height: 57px;
    font-size: 37px; */
    transform: scale(0.8,0.8)
}

.surveyOptions{
    color: var(--bs-secondary);
    transition: all 0,2s;
}

.surveyOptions:hover{
    color: var(--black);
    transition: 0.2s ease-in-out;
}

.nav-link{
    color: var(--color2) !important;
}
    .nav-link.active {
        color: #495057 !important;
    }
/* Responsive */
@media only screen and (max-width: 540px) {
    .btn{
        font-size: 12px;
    }
    .w-75{
        width: 95% !important;
    }
    .buttons{
        padding: 8px;
        right: 0px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        width: 150px;
    }
    .buttons i{
        font-size: 16px;
        padding: 6px;
        /* margin: 2px 0px; */
    }
    .form-control, .form-select{
        font-size: 11px;
    }
    .form-title{
        font-size: 20px;
    }
    .form-switch label{
        font-size: 14px !important;
    }
}
@media only screen and (max-width: 768px){
    #main.responsive .overlay{
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 100;
        background-color: rgba(0, 0, 0, .5);
        transition: all 0.5s;
    }
    .topNav .dropdown.responsive{
        filter: blur(8px);
    }
    .menu{
        margin-top: 7px;
    }
    .menu-item{
        right: .7rem;
    }
}

.btn-primary{
    background-color: var(--color2) !important;
    border: 1px solid var(--color2) !important;
    /* color: var(--black); */
}
.btn-danger {
    background-color: var(--color4) !important;
    border: 1px solid var(--color4) !important;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: var(--color4-dark) !important;
    border: 1px solid var(--color4-dark) !important;
}

.btn-outline-primary{
    border: 1px solid var(--color2) !important;
    color: var(--color2-dark) !important;
}

.btn-outline-primary:hover{
    border: 1px solid var(--color2-dark) !important;
    color: var(--white) !important;
    background-color: var(--color2-dark);
}

.btn-primary:hover, .btn-primary:focus{
    background-color: var(--color2-dark) !important;
    border: 1px solid var(--color2-dark) !important;
}

.btn-outline-secondary{
    border: 1px solid var(--color-secondary) !important;
    color: var(--color-secondary-dark) !important;
}

.btn-outline-secondary:hover{
    border: 1px solid var(--color-secondary-dark) !important;
    color: var(--white) !important;
    background-color: var(--color-secondary-dark);
}
.btn-outline-danger{
    border: 1px solid var(--color4) !important;
    color: var(--color4-dark) !important;
}

.btn-outline-danger:hover{
    border: 1px solid var(--color4-dark) !important;
    color: var(--white) !important;
    background-color: var(--color4-dark);
}

li a, td a{
    cursor: pointer;
}

.border-primary {
    border: 1px solid #2c568285 !important;
}

/*Select2 dropdown*/
.select2-drop {
    z-index: 100000;
}